.wave {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.login-container {
  width: 100vw;
  height: calc(100vh - 180px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: auto;
}

.login-box {
  display: flex;
  align-items: center;
  text-align: center;
}

.login-box-box {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 19px;
  background-color: #fff;
  padding: 20px 30px;
}

.login-box-title {
  margin-top: 20px;
}

.login-box-remark {
  /* margin-top: 20px; */
  text-align: center;
  color: #898d90;
  font-size: 14px;
}

.login-form {
  width: 360px;
}

.avatar {
  /* width: 350px; */
  /* height: 80px; */
  display: flex;
  justify-content: center;
}

.login-form h2 {
  text-transform: uppercase;
  margin: 15px 0;
  color: #ff7800;
  font: bold 200% Consolas, Monaco, monospace;
}
/* 放logo的盒子 */
.logo-box {
  padding: 0 30px 0 16%;
  width: 100%;
  height: 80px;
  background-color: #fff;
}
.flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 36px;
  text-align: center;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #999;
  background-color: #fff;
}
@media screen and (max-width: 1180px) {
  .login-container {
    grid-gap: 9rem;
  }

  .login-form {
    width: 290px;
  }

  .login-form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 360px;
  }

  .avatar {
    width: 280px;
    height: 80px;
  }
}

@media screen and (max-width: 968px) {
  .wave {
    display: none;
  }

  .img {
    display: none;
  }

  .login-container {
    grid-template-columns: 1fr;
  }

  .login-box {
    justify-content: center;
  }
}
